*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: grid;
  place-items: center;
  background-image: url("../assets/background.png");
  background-repeat: no-repeat;
  height: 100vh;
  --darkPrimaryColor:#565554;
  --primaryColor:#9E9E9E;
  --lightPrimaryColor:#455A64;
  --accentColor:#009688;
  --bgColor:#BDBDBD
}

.calculator{
  display: grid;
  padding: 10px;
  gap: 5px;
  background: var(--bgColor);
  border-radius: 5px;
  grid-template-columns: repeat(4,minmax(70px, 1fr));
  grid-template-rows: repeat(6,1fr);
  grid-template-areas: "display display display display"
                        "pow sqrt res ce"
                        "v1 v2 v3 div"
                        "v4 v5 v6 by"
                        "v7 v8 v9 minus"
                        "v0 dot equal sum";
  box-shadow: black 0px 5px 20px 5px;
}

.displayWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: .5em;
  grid-area: display;
  text-align: end;
  background-color: whitesmoke;
}

#prevValue {
  font-size: 1rem;
  height: 1.25rem;
  padding-right: 5px;
}

#display {
  position: relative;
  font-size: 2.5rem;
  height: 2.75rem;
  padding-right: 5px;
  border-right: .1em solid;
  border-color: black;
  animation: caret .75s infinite alternate;
}

.calculator > *{
  border: 1px solid black;
  border-radius: 5px;
}

.calculator button{
  display: grid;
  place-items: center;
  font-size:2em;
  cursor: pointer;
  transition: filter ease-in .05s;
}

.calculator button:hover{
  filter:brightness(80%);
}

[data-value]{
  background-color: var(--darkPrimaryColor);
}

.pow,.sqrt,.module,.div,.by,.sum,.minus,.reset{
  background-color: var(--primaryColor);
}

.equal {
  background-color: var(--accentColor);
}

.pow{
  grid-area: pow;
}

.sqrt{
  grid-area: sqrt;
}

.module{
  grid-area: res;
}

.reset{
  grid-area: ce;
}

.sum{
  grid-area: sum;
}

.minus{
  grid-area: minus;
}

.div{
  grid-area: div;
}

.by{
  grid-area: by;
}

.equal{
  grid-area: equal;
}

.dot{
  grid-area: dot;
}

[data-value="0"]{
  grid-area: v0;
}

[data-value="1"]{
  grid-area: v1;
}

[data-value="2"]{
  grid-area: v2;
}

[data-value="3"]{
  grid-area: v3;
}

[data-value="4"]{
  grid-area: v4;
}

[data-value="5"]{
  grid-area: v5;
}

[data-value="6"]{
  grid-area: v6;
}

[data-value="7"]{
  grid-area: v7;
}

[data-value="8"]{
  grid-area: v8;
}

[data-value="9"]{
  grid-area: v9;
}

@keyframes caret {
  0% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
  100%{
    border-color: black;
  }
}
